* {
  background-color: burlywood;
}

.header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: monospace;
  color: aqua;
}

.home {
  text-align: center;
  padding: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: aqua;
  text-align: center;
  padding: 20px;
}

.createcat {
  font-family: cursive;
}

.logo {
  width: 500px;
  height: auto;
  text-align: center;
}

.nopage {
  width: 1000px;
  height: auto;
  margin-top: 50px;
  margin: 20px 350px;
}

.cat-index-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; 
  padding: 20px; 
}

.cat-index-cards .card {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
}

.cat-index-cards img {
  max-width: 300px;
  max-height: 140px;
  width: auto; 
  height: auto;
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  height: 300px;
}