.header{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 20);
  text-align: center;
  font-size: 100px;
  font-family: monospace;
}
.home{
 
  color:blue;
  padding: 20px;  
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.createcat{
  font-family: cursive  ;
}
.logo{
  width: 500px;
  height: auto;
  margin-top: 20px;
  
  margin: 10px 500px;
}
body .notfound{
  text-align: center;
  font-size: 20px;
  color:darkred;
  font-weight: bold;
  
}
.nopage{
  width: 1000px;
  height: auto;
  margin-top: 50px;
  margin: 20px 350px;
}