  *{background-color: blue;}

.header{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 20);
  text-align: center;
  font-size: 100px;
  font-family: monospace;
}

.home{
  text-align: center;
  padding: 20px; 
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.createcat{
  font-family: cursive  ;
}

.logo{
  width: 500px;
  height: auto;
  text-align: center;
}

.body{
  text-align: center;
  font-size: 20px;
  background-color:darkred;
  font-weight: bold;
}

.nopage{
  width: 1000px;
  height: auto;
  margin-top: 50px;
  margin: 20px 350px;
}